registry=https://artifactory.riotinto.com/artifactory/api/npm/riotinto-npm/
//artifactory.riotinto.com/artifactory/api/npm/riotinto-npm/:_auth=bWFyYy52ZXJnYXJhQHJpb3RpbnRvLmNvbTpBS0NwQnJ3NTRnN0ZOZUhSVVM1ek05eEVUeEVTQXRvc0F6dXJCUm9jWEhuMXlXdnMyZXZOTDR5OTc2NFM0UHJxV1JkSE5kUUhS
email=Marc.Vergara@riotinto.com
always-auth=true